body {
  font-family: Arial, sans-serif;
  background-color: #195797;
  margin: 0px;
  padding: 20px;
  color: white;
}

.sim-conatainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.sim-card {
  background-color: white;
  color: #0a1f3c;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.sim-card button {
  background-color: #0a1f3c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
